.page-background {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
}
.page-header {
  background: rgba(0,0,0,0.6);
  margin: 0px;
  padding: 20px 0;
  h1 {
    margin: 0px;
  }
}
.page-body {
  padding-top: 30px;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
.profile-info {
  padding-left: 40px;
}
.profile-price p {
  font-size: 30px;
  padding-left: 20px;
}
.profile-description {
  padding-bottom: 50px;
}
.carousel-inner{
  height: 400px;
  @media (max-width: $screen-xs) {
    height: 200px;
  }
}
.carousel-inner .item img {
    position:relative;
    transform: translateY(-25%);
}

