
<div class="row">
  <div class="col-xs-12 col-sm-4">
    <p><strong>Pending bookings</strong></p>
    <% @bookings_pending.each do |booking| %>
      <% photog = User.find(booking.photog_id) %>
      <% client = User.find(booking.client_id) %>
      <%= render 'booking_card_content', booking: booking, photog: photog, client: client %>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-4">
    <p><strong>Accepted bookings</strong></p>
    <% @bookings_accepted.each do |booking| %>
      <% photog = User.find(booking.photog_id) %>
      <% client = User.find(booking.client_id) %>
      <%= render 'booking_card_content', booking: booking, photog: photog, client: client %>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-4">
    <p><strong>Archived bookings</strong></p>
    <% @bookings_archived.each do |booking| %>
      <% photog = User.find(booking.photog_id) %>
      <% client = User.find(booking.client_id) %>
      <%= render 'booking_card_content', booking: booking, photog: photog, client: client %>
    <% end %>
  </div>
</div>
