<div class="text-center">
  <h1>Your booking with <%= @photog.first_name %> <%= @photog.last_name %></h1>
</div>
<hr>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">

      <%= render 'new_booking_form.html' %>
    </div>
  </div>
</div>
