<div class="text-center">
  <h1>Photographers index</h1>
  <p>Find me in app/views/users/index.html.erb</p>
</div>
<hr>
<div class="container">
  <%= render 'photog_card' %>

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <%=  %>
    </div>
  </div>
</div>
<%=  %>
