<div class="element-background" style="background: #E5EAED; height: 100%; color: #4C4C4C;">
<div class="container">
  <% if @user.photog? %>
        <%= render 'photog_show_card' %>
      <% else %>
        <%= render 'client_show_card' %>
  <% end %>
</div>

<%= content_for(:after_js) do %>
  <script type="text/javascript">
  $(document).ready(function() {
        $( '.swipebox' ).swipebox();
  });
  </script>
<% end %>
</div>


