.card {
  height: 150px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  height: calc(30vh - 0px);
  // text-align: center;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.card:hover {
  position: relative;
  bottom: -5px;
  right: -5px;
}

.card-info {
  background: white;
  // height: 250px;
  // border-width: 2px;
  border:  1px;
  border-radius: 4px;
  // position: absolute;
  // top: 10px;
  // left: 10px;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
}

.card-details {
  position: relative;
}

.card-details .btn {
  position: absolute;
  right: 2px;
  top: 2px;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
}

.card-category a {
  text-decoration: none !important;
  color: white !important;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card-description a {
  text-decoration: none !important;
  color: white !important;
}

.card-description h2 {
  font-size: 30px;
}
.card-description p {
  font-size: 17px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

.card-booking-link {
  position: absolute;
  top: 0;
  bottom: 40px;
  left: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-booking-link:hover{
  opacity: 0.1;
}

