// Place all the styles related to the bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flex-container {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  margin: 2px;
}

.grey-card {
  background: #E6E6E6;
  padding:20px;
  border-radius: 5px;
}
